{% extends 'base.twig' %}
{% block body %}
  <section class="hero-blog">
    <div class="container">

      {% include 'breadscrumbs/breadscrumbs.twig' %}
      <h1>{{ post.title }}</h1>
      <div class="meta">
        {{ post.date('d/m/Y') }} - {{ post.author.name }}
      </div>
    </div>
  </section>
  <section class="blog-post">
    <div class="blog-post__container">

      <img class="blog-post__img" src="{{ post.thumbnail.src|resize(1136, 451) }}"
           alt="{{ post.title }}"/>

      <div class="blog-post__content">
        {{ post.content }}
      </div>


    </div>

  </section>

  <h2>{{ __('Sprawdź pozostałe wpisy') }}</h2>
  {% include 'blog-latest-posts/blog-latest-posts.twig' with {'items': posts} %}
  {% include 'blog-pagination/blog-pagination.twig' %}
{% endblock %}
